/* body全体のフォントサイズ・中央寄せ */
body{
    font-size: 6em;
    text-align: center;
}
/* タイマー領域 */
.count{
    margin: 0;
    font-weight: bold;
    color: #888;
}
/* テキスト領域 */
.wrap{
    margin-top: 20px;
    padding: 80px 40px;
    background-color: #666;
    font-weight: bold;
    color: #fff;
}
/* 正しいタイプのテキスト */
.typed{
    color: lightgreen;
}
/* ミスタイプのテキスト */
.mistyped{
    background-color: red;
}